version: '3.8'

networks:
  dash:
    external:
      false

services:
  inventory_management:
    image: mysql:5.7
    platform: linux/x86_64
    restart: always
    volumes:
      - inventory:/var/lib/mysql
    environment:
      MYSQL_DATABASE : Inventory
      MYSQL_USER : admin
      MYSQL_PASSWORD : admin
      MYSQL_ROOT_PASSWORD : root
    networks:
      - dash
    ports:
      - 3306:3306
    command: mysqld
    
  user_management:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    networks:
      - dash
    volumes:
      - users:/data/db
    ports:
      - 27017:27017
    restart: always

  restaurant_management:
    image: mongo:latest
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    networks:
      - dash
    volumes:
      - restaurants:/data/db
    ports:
      - 27018:27017
    restart: always


volumes:
  inventory:
    external : true
  users:
    external : true
  restaurants:
    external : true