*{
    padding:0;
    margin:0;
    overflow-x:hidden ;
}


.move{
    animation: move 1s ;
    overflow-y: hidden;
}
.movedown{
    animation: movedown 1s ;
    
}

#payForm{
    border:1px solid #000;
    margin:0 auto;
    padding:3vw;
    padding-bottom:4vw;
    width:50%;
    background-color:#fff;
   border-radius: 1vw;
    text-align:center;
}
#pay{
    font-size:2.4vw;
    padding:1vw;
    font-weight:100;
    
    padding-top:2.5vw;
    border-radius: 0.5vw;
    background-color:#000;
   width:100%;
}
#payH1, .payH1{
    font-size:2.4vw;
    position: relative;
    top:-1vw;
    font-weight:100;
 
    background-color:transparent;
    color: #000;
}
#pay input{
    background-color:#ccc;
    color:#000;
    border:none;
    height:2.5vw!important;
    width:16vw;
    position:relative;
    left:2vw;
    font-size: 1vw;
    margin-bottom: 1vw;
    margin-right:3.5vw;
}
@keyframes move {
    0%{
        color:#ccc;
        left:0;
    }
    30%{
        left:100%;
    }
    50%{
        opacity:0;
        left:-100%;
    }
    100%{
        opacity:1;
        left:0;
    }
}
@keyframes movedown {
    0%{
        color:#ccc;
        right:0;
    }
    30%{
       right:100%;
    }
    50%{
        opacity:0;
        right:-100%;
    }
    100%{
        opacity:1;
       right:0;
    }
}
#completed{
    background-color:#fff;
    opacity:0.8;
}
.completed{
    background-color:#000!important;
    color:#fff!important;
}
.work{
    background-color:#fff!important;
    color:#000!important;
}