*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#fff;
}
.flexbox{
    display:flex;
    justify-content: space-between;
    width: 100%;
    
    height:auto;
    min-height:10vw;
    overflow: hidden;
    margin:0 auto;
    
   
}
.dishInput{
    float:right;
    margin-right:20%;
    margin-top: .5vw;
    outline: none;
    height:1.5vw;
    border-radius: .3vw;

}
#labels li{
    list-style-type: none;
    font-size:2vw;
}
#content5{
    height:auto;
    width:100%;
    
}
#navmini{
    position:relative
}
.createDish{
    background-color: #007fff!important;
    color:#fff!important;
   
}
.createDish:hover{
    background-color: #fff!important;
    color:#000!important;
}
.viewDish{
    background-color: #007fff!important;
    color:#fff!important;
    
}
.viewDish:hover{
    background-color: #fff!important;
    color:#000!important;
}
.flexbox .board{
    display:flex;
    flex-direction: column;
    padding:1vw;
    margin:2vw;
    width:100%;
    height:auto;
    min-height:30vw;
    border-radius:1vw;
    position:relative;
    margin-top:10%;
    background-color:#000;
    color:#f5fafa;
    padding:2vw;
    box-shadow: .1vw .1vw .1vw #000;;
}
.flexbox .board .card{
    padding:1vw 1vw ;
    cursor:pointer;
    background-color:#17244d;
    border-radius: 1vw;
    margin-top:2vw;
    box-shadow: .1vw .1vw .1vw #000;;
}

.showUser{
   
  
    margin:0 auto;
    width:100%!important;
    top:0vw!important;
    padding-top:10vw!important;
    min-height:100vw!important;
    right:0vw!important;
   
    
   
}