input{
  float:left;
 
  margin-top: .5vw;
  margin-left:20%;
  outline: none;
  height:1.5vw;
  border-radius: .3vw;


  }
  #finalLabel
  {
    overflow: hidden;
    position: relative;
    left:13vw;
    width:50%;
    background-color: #000;
    height:5vw; padding: 1vw;
    border-radius: 1vw;
    margin:1vw;
  } #finalLabel input
  {
    float: right;
    margin-top:5%;
    border-radius: .1vw;
    padding:.2vw
  }
  #label{
    float:left;
    color:#fff;
    font-size: 1vw;
    
  }
button{
    margin-left:1.2vw;
    
}
label{
text-align: left;
  width:30%;
  border:1px solid;
}
#mainContainer {
    width: 500px;  
    padding: 0px 15px 15px 15px;
    border-radius: 5px;
    font-family: arial;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    margin: 30px auto;
  }
  #editqty{
    width:30%;
    padding:1vw;
    margin:0 auto;
    
  }
  #li-cart{
    list-style-type: none;
    margin-top:2.5%;
    
    float: left;
  }
  #cart-input{
   float: left;
  }
  
  
  .button {
    background-color: #f5fafa;
    color: #007fff;
    border-color: #f5fafa;
   border-radius: .3vw;
  padding:0.1vw;
   float:right;
   margin-top: 1.5vw;
   font-size:1.1vw;
   min-width:5vw;
   width: auto;
   cursor:pointer;
   height:2.2vw;
    font-size:0.6.5vw;
    color: #ffffff;
   
  }
  .button1 {
    background-color: #f5fafa;
    border:1px solid #f5fafa;
   border-radius: .3vw;
  padding:0.1vw;
   float:right;
   margin-top: 1.5vw;
   font-size:1.1vw;
   min-width:5vw;
   width: auto;
   cursor:pointer;
   height:2.2vw;
    font-size:0.6.5vw;
    color: #007fff;
   
  }
  .button2 {
    background-color: #f5fafa;
    border:1px solid #f5fafa;
   border-radius: .3vw;
  padding:0.1vw;
  margin-left: 5vw;
   margin-top: 1.5vw;
   cursor:pointer;
   font-size:1.1vw;
   min-width:5vw;
   width: auto;
   height:2.2vw;
    font-size:0.6.5vw;
    color: #007fff;
   
  }
  
  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  
  .sucessMsg {
    color: #6B8E23;
    margin-bottom: 10px;
  }
  #display-data{
  margin-top:12px;
  background: #e5e5e5;
  padding:1px;
  
  }